@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*...GLOBA STYLES....*/

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.....USE OF ROOT AND USING CSS VARIABLES TO STYLE THE HTML......*/
:root
{
    --main-font:'Source Sans Pro', sans-serif;
    --secondary-font:'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark:#252525;
    --secondary-font-color:#c59d5f;
    --body-font-color: #515151;

}

html
{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth; /*--Its going to animate and making scrolling smooth once you are at the footer and want to move to the top--*/
}

section
{
    padding: 3.9rem 0; /*TOP-BOTTOM and LEFT-RIGHT)*/
}

img
{
    width: 100%;
    max-width: 100%;
}
a
{
    text-decoration: none;
}

p
{
    font-size:1.6em;
}
.container
{
    width: 100%;
    max-width: 122.5rem;
    margin:0 auto;
    padding: 0 2.4rem;
}

/*.............HEADER STYLES.....................*/
header
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5),transparent);
}
.nav
{
    height: 7.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-toggle
{
    color: #fff;
    font-size: 2.2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*Moving the menu-toggle along the y axis of the webpage*/
    right: 2.5em;
    cursor: pointer; /*gives the user an illusion that its clickable*/
    z-index: 1500; /*This ensures that the menu toggle always remains on top*/
}
.fa-times
{
    display: none;
}
.nav-list
{
    list-style: none;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--main-font-color-dark);
    width:80%;
    height: 100vh;
    padding: 4.4rem;
    display: flex;
    flex-direction: column; /*Flex-direction cant work without display flex*/
    justify-content: space-around;
    z-index: 1250;
   transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before
{
    content: ''; /*set content to an empty string */
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.8);
    width: 100vw;
    height: 100vh;
    z-index:1000; /* Its on top of everything else but not the navlist and menu toggle */
    opacity: 0; /* This is just for now but when we include JAVASCRIPT everything will be showing again with its color that isnt white*/
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times  /*When the class open will be applied the X will show and the hamburger menu will close*/
{
    display:block;
}
.open .fa-bars
{
    display:none;
}
.open .nav-list
{
    transform:translateX(0);
}
.open .nav::before
{
    opacity: 1;
    transform:scale(1);
}
/* JAVASCRIPT Will be used to make it the open class clickable */

.nav-item
{
    border-bottom: 2px solid #fff;
}
.nav-link
{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-right: -2px;
    transition: color.5s; /* This will work when the hover is done */
}

.nav-link:hover
{
    color: var(--secondary-font-color);
}

/*---------------------------------------HERO----------------------------------------------*/

.hero
{
    width: 100%;
    height: 100vh;
    background:url("images/hero.jpg") center no-repeat; /*inserted a background image/ put it at the center/ and ensure NO REPEAT */
    background-size: cover; /* Always ensure that the image always covers the entire container */    
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline
{
    font-size: 8.5rem;
    font-family:var(--secondary-font);
    color:var(--secondary-font-color);
    font-weight: 700;
    line-height: .7;
    letter-spacing: 2px;
}

.first-letter
{
    text-transform: uppercase;
    font-size: 11rem;
}
.headline 
{
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
}

.separator
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line 
{
    width: 100%;
    max-width:8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
}